$primary-bg: #121417;
$box-bg: #1C222C;
$div-bg: #262F39;
$div-hover-bg: #7c8798;
$button-bg: #fb7413;

$title-color: #ffffff;
$text-color: #959eac;

body {
    font-family: 'Overpass', sans-serif;
}

#app {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 550px;
    min-width: 450px;
    background-color: $primary-bg;
}

.rating-box {
    box-sizing: border-box;
    padding: 25px;
    width: 375px;
    height: auto;
    border-radius: 25px;
    background-color: $box-bg;
    color: $text-color;

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 20px 0;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: $div-bg;

        &-img {
            width: 15px;
            height: 15px;
        }
    }

    &-title {
        margin: 0 0 20px 0;
        font-weight: bold;
        color: $title-color;
    }

    &-text {
        margin: 0 0 20px 0;
        line-height: 1.3;
        font-size: 15px;
    }

    &-rating {
        display: flex;
        justify-content: space-between;
        margin: 0 0 20px 0;

        &-note {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background-color: $div-bg;

            &:hover {
                background-color: $button-bg;
                color: $title-color;
            }
        }
    }

    &-button {
        margin-top: 15px;
        padding: 15px;
        width: 100%;
        border: none;
        border-radius: 25px;
        background-color: $button-bg;
        text-transform: uppercase;
        color: $title-color;
        letter-spacing: 3px;

        &:hover {
            background-color: $title-color;
            color: $button-bg;
        }
    }
}

.tyBox {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 25px;
    width: 375px;
    height: auto;
    border-radius: 25px;
    background-color: $box-bg;
    color: $text-color;

    &-logo {
        margin-bottom: 25px;
    }

    &-result {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0 10px 0 10px;
        margin-bottom: 35px;
        border-radius: 25px;
        vertical-align: middle;
        background-color: $div-bg;
        color: $button-bg;
    }

    &-titleTY {
        margin-bottom: 20px;
        text-transform: capitalize;
        color: $title-color;
        font-weight: 700;
        font-size: 25px;
    }

    &-text {
        text-align: center;
        margin-bottom: 20px;
        line-height: 1.5;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;

    & a {
        color: #3e52a3;
    }
}
